@model IEnumerable<Artifact>
@{
    ViewData["Title"] = "Artifact";
}

<div class="container">
    
        <div id="landing__content" class="landing__content">
            <div class="landing__content__wrapper">
                <h3 class="landing__content--border landing__content--margin">Would you like to buy something for yourself?</h3>
                @foreach (var artifact in Model)
                {
                    if (artifact.ArtifactTypeID == 0)
                    {
                    <div class="questreward">
                        <h3 class="questreward__title">@artifact.Name</h3>
                        <h3 class="questreward__cost">@artifact.Cost</h3>
                        <p class="questreward__description">@artifact.Description</p>
                    </div>
                    }
                }
            </div>
            <div id="dividerh3" class="landing__content__wrapper">
                <h3 class="landing__content--border landing__content--margin">Would you like to buy something for the group?</h3>
                @foreach (var artifact in Model)
                {
                    if (artifact.ArtifactTypeID == 1)
                    {
                        <div class="questreward">
                            <h3 class="questreward__title">@artifact.Name</h3>
                            <h3 class="questreward__cost">@artifact.Cost</h3>
                            <p class="questreward__description">@artifact.Description</p>
                        </div>
                    }
                }
            </div>

        </div>
    </div>

