@inject QuestStoreNAT.web.Services.ICurrentSession Session
@model Student

    <div class="landing">

        <partial name="~/Views/Shared/_SidebarMenu.cshtml">
            <div class="student_panel">
                <div class="artifacts">
                    <div class="header_artifacts">Your Artifacts</div>
                    <div id="artifact">
                        @foreach (var artifact in Model.GroupArtifacts)
                        {
                            <div class="questreward questreward--individual">
                                <h3 class="questreward__title">@artifact.Name</h3>
                                <h3 class="questreward__cost">@artifact.Cost</h3>
                                <p class="questreward__description">@artifact.Description</p>
                                <div class="admin-controll">
                                    <a asp-action="UseArtifact" asp-route-id="@artifact.Id" class="dropdown__button dropdown--margin">Use</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="artifacts">
                    <div class="header_artifacts">Used Artifacts</div>
                    @foreach (var artifact in Model.UsedGroupArtifacts)
                    {
                        <div class="questreward questreward--individual">
                            <h3 class="questreward__title">@artifact.Name</h3>
                            <h3 class="questreward__cost">@artifact.Cost</h3>
                            <p class="questreward__description">@artifact.Description</p>
                        </div>
                    }
                </div>
            </div>
    </div>