@inject QuestStoreNAT.web.Services.ICurrentSession Session
@model List<Artifact>

@{
    ViewData["Title"] = "ViewAllArtifacts";
}

<div class="landing">

    <partial name="~/Views/Shared/_SidebarMenu.cshtml">

        <div id="landing__content" class="landing__content">

            <div class="landing__content__wrapper">
                <h3 class="landing__content--border landing__content--margin">Have you compleated a task by yourself?</h3>
            </div>
            @foreach (var artifact in Model.Where(q => q.Type == TypeClassification.Individual))
            {
        <div class="questreward questreward--individual">
            <h3 class="questreward__title">@artifact.Name</h3>
            <h3 class="questreward__cost">@artifact.Cost</h3>
            <p class="questreward__description">@artifact.Description</p>
            @if (Session.LoggedUserRole == Role.Mentor | Session.LoggedUserRole == Role.Admin)
            {
                <a asp-action="EditArtifact" asp-route-id="@artifact.Id" class="dropdown__button dropdown--margin">Edit</a>
                <a asp-action="DeleteArtifact" asp-route-id="@artifact.Id" class="dropdown__button dropdown--margin">Delete</a>
            }
            @if (Session.LoggedUserRole == Role.Student)
            {
                <a asp-action="BuyArtifact" asp-route-id="@artifact.Id" class="dropdown__button dropdown--margin">Buy</a>
            }
        </div>
            }

            <div id="dividerh3" class="landing__content__wrapper">
                <h3 class="landing__content--border landing__content--margin">Did you accomplish something as a group?</h3>
            </div>
            @foreach (var artifact in Model.Where(q => q.Type == TypeClassification.Group))
            {
        <div class="questreward questreward--group">
            <h3 class="questreward__title">@artifact.Name</h3>
            <h3 class="questreward__cost">@artifact.Cost</h3>
            <p class="questreward__description">@artifact.Description</p>
            @if (Session.LoggedUserRole == Role.Mentor | Session.LoggedUserRole == Role.Admin)
            {
                <a asp-action="EditArtifact" asp-route-id="@artifact.Id" class="dropdown__button dropdown--margin">Edit</a>
                <a asp-action="DeletArtifact" asp-route-id="@artifact.Id" class="dropdown__button dropdown--margin">Delete</a>
            }
            @if (Session.LoggedUserRole == Role.Student)
            {
                <a asp-action="BuyArtifact" asp-route-id="@artifact.Id" class="dropdown__button dropdown--margin">Buy</a>
            }
        </div>
            }

        </div>
</div>