@model List<Quest>

@{
    ViewData["Title"] = "StudentQuestView";
}

<div class="landing">

    <partial name="~/Views/Shared/_SidebarMenu.cshtml">
        <div class="student_panel">
                <div class="artifacts">
                    <div class="header_artifacts">Individual Unfinished Quests</div>
                    <div id="artifact">
                        @foreach (var quest in Model.Where(q => q.QuestStatus == CompletionStatus.Unfinished && q.Type == TypeClassification.Individual))
                        {
                            <div class="questreward questreward--individual">
                                <h3 class="questreward__title">@quest.Name</h3>
                                <h3 class="questreward__cost">@quest.Cost</h3>
                                <p class="questreward__description">@quest.Description</p>
                            </div>
                        }
                    </div>
                </div>
                <div class="artifacts">
                    <div class="header_artifacts">Individual Finished Quests</div>
                    <div id="artifact">
                        @foreach (var quest in Model.Where(q => q.QuestStatus == CompletionStatus.Finished && q.Type == TypeClassification.Individual))
                        {
                            <div class="questreward questreward--individual">
                                <h3 class="questreward__title">@quest.Name</h3>
                                <h3 class="questreward__cost">@quest.Cost</h3>
                                <p class="questreward__description">@quest.Description</p>
                            </div>
                        }
                    </div>
                </div>
                <div class="artifacts">
                    <div class="header_artifacts">Group Unfinished Quests</div>
                    <div id="artifact">
                        @foreach (var quest in Model.Where(q => q.QuestStatus == CompletionStatus.Unfinished && q.Type == TypeClassification.Group))
                        {
                            <div class="questreward questreward--individual">
                                <h3 class="questreward__title">@quest.Name</h3>
                                <h3 class="questreward__cost">@quest.Cost</h3>
                                <p class="questreward__description">@quest.Description</p>
                            </div>
                        }
                    </div>
                </div>
      
                <div class="artifacts">
                    <div class="header_artifacts">Group Finished Quests</div>
                    <div id="artifact">
                        @foreach (var quest in Model.Where(q => q.QuestStatus == CompletionStatus.Finished && q.Type == TypeClassification.Group))
                        {
                            <div class="questreward questreward--individual">
                                <h3 class="questreward__title">@quest.Name</h3>
                                <h3 class="questreward__cost">@quest.Cost</h3>
                                <p class="questreward__description">@quest.Description</p>
                            </div>
                        }
                    </div>
                </div>
        </div>
</div>
